@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.5px;
}
.section__title {
  text-align: center;
  font-size: 40px;
  color: #000;
}
.container {
  margin: auto;
  width: 99%;
}

a {
  color: #fff;
}
/*-------------------HEADER STYLE-------------------*/
.header {
  height: 60px;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.logo, .icon-menu {
  margin: 5px;
  color: #fff;
}
.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #000;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
/*------------------MENU STYLE------------------*/
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}

.nav li a:hover {
  background-color:aqua;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  display: block;
  padding: 15px;
  background: #000;
  text-decoration: none;
  color: #fff;
}
.menu__link:hover, .select {
  background: aqua;
  color: #000;
}
.mostrar {
  left: 0;
}


/*--------------BANNER STYLE--------------*/

#banner__title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  color: black;
}
#banner__title:last-of-type {
  animation: type 0.33s infinite;
}
@keyframes type{
  to { opacity: .0; }
}

.profile-card {
  padding-bottom: 20px;
}

.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}

.banner {
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}

.banner .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

.banner__txt {
  display: none;
}

#btnUp {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#btnUp:hover {
  background-color: aqua; /* Add a dark-grey background on hover */
}

/*-----------------INFO STYLE-----------------*/
.info__sec {
  background: #000;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

.info__sec:hover {
  color:aqua;
}

/*-----------------TOPIC STYLE-----------------*/

.card {
  border: none;
}

.topic__descripcion:hover {
  color:aqua;
}

.topic__sec {
  position: block;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: black;
  width: 150px;
  height: 340px;
}

.topic__descripcion {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0);
  width: 80%;
  height: 100%;
  padding: 5px;
}

.topic__title {
  font-size: 25px;
  margin: 5px 0;
}
.topic__img {
  width: 100%;
}
/*-----------------FOOTER STYLE-----------------*/

.footer {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer .social [class^="icon-"] {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
}

/*------------------RESPONSIVE------------------*/

@media(min-width:480px) {
  .logo {
    font-size: 40px;
  }
  #banner__title {
    font-size: 30px;
    margin: 5px 0;
  }
  .banner__txt {
    display: block;
    font-size: 18px;
    margin: 7px 0;
  }
  .info, .topic {
    display: flex;
    justify-content: space-between;
  }
  .info__sec {
    width: 40%;
  }
  .info__title {
    font-size: 30px;
    margin: 5px 0;
  }
  .section__title {
    width: 100%;
  }
  .topic {
    flex-wrap: wrap;
  }
  .topic__sec {
    width: 80%;
    height: 150px;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}
@media(min-width:768px) {  
  #banner__title {
    font-size: 50px;
  }
  .topic__title {
    font-size: 40px;
  }

  .topic__sec {
    height: 300px;
  }

}

@media(min-width:1024px) {  
  .container {
    width: 1024px;
  }
  .section__title {
    font-size: 50px;
    margin: 30px 0;
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
  .menu__link {
    background: none;
    font-size: 20px;
  }
  .select {
    color: #fff;
    background: #000;
  }
  #banner__title {
    font-size: 60px;
  }
  .topic__sec {
    height: 300px;
  }
  .banner__txt {
    font-size: 25px;
  }
  .info__sec {
    padding: 30px;
  }
  .info__title {
    font-size: 40px;
    text-align: center;
  }
  .topic__descripcion {
    padding: 20px;
  }
  .topic__title {
    font-size: 50px;
  }
  .topic__txt {
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .container {
    width: 1280px;
  }
  .logo {
    font-size: 60px;
  }
  .banner .container {
    top: 40%;
  }

  .topic__sec {
    height: 340px;
  }

}

